@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Zen+Dots&display=swap');

:root{
  --white: #fff;
  --black: #111;
  --blue: #3a80e9;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;
  --theme :#06023b;
  --purple-grey:#8f8297;
}


body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Zen Dots', cursive;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme);
  color: var(--white);
}

input {
  font-family: 'Montserrat', sans-serif;
}

.input-wrapper{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
}

.input-wrapper h1{
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.podcasts-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
a{
  text-decoration: none;
}

.podcast-title-heading{
  text-align: left !important;
  display: flex !important;
  width: 100%;  
}

.banner-wrapper{
  background: linear-gradient(  
      blue,black
  );
  border-radius: 1rem;
  padding: 0.5rem;
  opacity: 0.7;
  cursor: pointer;
  height: 300px !important;
  width : 100% !important;

}

.banner-wrapper img{
  height: 300px !important;
  width : 100% !important;
  object-fit: cover;
  border-radius: 1rem;
  
}

.podcast-description{
  color: var(--purple-grey);
  text-align: left;
}